In [18]:
#install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\chaitali nakade\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\chaitali nakade\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [19]:
#import all neccessory libreries

import selenium
import pandas as pd
from selenium import webdriver

libreries imported

In [4]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

### Que.1-  Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
#Get url in web driver first
url = 'https://www.naukri.com/'
web_driver.get(url)
#the url will open 

#inspect for Skill,Designations,Companies field
job_search = web_driver.find_element_by_id('qsb-keyword-sugg')
#this will write text on search bar
job_search.send_keys('Data Analyst')

#find element for job location
search_location = web_driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys('Bangalore')

#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [5]:
#extract the tag having job titles
job_title = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#to remove extra data other than output we required
job_titles = [] #empty list

for i in job_title[0:10]:
    job_titles.append(i.text)

    
#extract the tag having job location
job_loc = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

job_location = [] #empty list
#to remove extra data other than output we required
for j in job_loc[0:10]:
    job_location.append(j.text)

    
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)


#extract the tag having experience
experience_req = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

experience = [] #empty list
#to remove extra data other than output we required
for i in experience_req[0:10]:
    experience.append(i.text)

# Make data frame of datanalyst job from naukari.com 
Data_Analyst = pd.DataFrame({})
Data_Analyst['JOB TITLES']= job_titles
Data_Analyst['JOB LOCATION'] = job_location
Data_Analyst['COMPANY NAME'] = company_name 
Data_Analyst['EXPERIENCE'] = experience
Data_Analyst

,JOB TITLES,JOB LOCATION,COMPANY NAME,EXPERIENCE
0,Senior Data Analyst - Einstein Analytics,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Enquero,3-5 Yrs
1,Data Analyst - 0-2 years (6 month contract),"New Delhi, Gurgaon/Gurugram, Chennai, Bangalor...",NIUM INDIA PRIVATE LIMITED,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs
3,Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,4-8 Yrs
4,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Nx-DT,10-16 Yrs
5,SQL Data Analyst,Bangalore/Bengaluru,NetApp,3-7 Yrs
6,Senior Business Analyst- Data Science,Bangalore/Bengaluru(Whitefield),Evalueserve.com Pvt. Ltd,2-7 Yrs
7,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,3-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Telstra India Pvt Ltd,7-8 Yrs
9,Data Analyst (SQL+Predictive Analytics+ Python),Bangalore/Bengaluru,AVE-Promagne,1-3 Yrs

### Que.2- Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

In [7]:
#Get url in web driver first
url = 'https://www.naukri.com/'
web_driver.get(url)
#the url will open 

#inspect for Skill,Designations,Companies field
job_search = web_driver.find_element_by_id('qsb-keyword-sugg')
#this will write text on search bar
job_search.send_keys('Data Scientist')

#find element for job location
search_location = web_driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys('Bangalore')

#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [8]:
#extract the tag having job titles
job_title = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#to remove extra data other than output we required
job_titles = [] #empty list

for i in job_title[0:10]:
    job_titles.append(i.text)

    
#extract the tag having job location
job_loc = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

job_location = [] #empty list
#to remove extra data other than output we required
for i in job_loc[0:10]:
    job_location.append(i.text)
    
    
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)

In [9]:
#extract the tag having urls of all compaies
url = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [10]:
job_urls = [] #empty list
#to remove extra data other than output we required
for i in url[0:10]:
    job_urls.append(i.get_attribute('href'))

In [11]:
job_description = [] #Empty list
for i in job_urls:
    web_driver.get(i)
    try:
        job = web_driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job.text)
    except:
        job_description.append('--')

In [12]:
print(len(job_titles),len(job_location),len(company_name),len(job_description))

10 10 10 10

In [13]:
# Make data frame of data science job from naukari.com 
Data_Scientist = pd.DataFrame({})
Data_Scientist['JOB TITLES']= job_titles
Data_Scientist['JOB LOCATION'] = job_location
Data_Scientist['COMPANY NAME'] = company_name 
Data_Scientist['JOB DESCRIPTION'] = job_description
Data_Scientist

,JOB TITLES,JOB LOCATION,COMPANY NAME,JOB DESCRIPTION
0,Data Scientist- Senior Business Analyst/Lead A...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,Job description\nJob Description\nUnderstand a...
1,Lead Data Scientist - Retail Industry,Bangalore/Bengaluru,IBM India Pvt. Limited,--
2,Senior/ Lead Data Scientist,Bangalore/Bengaluru,Superior Group,Job description\nProvide advanced analytical c...
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,--
4,Senior Data Scientist,Bangalore/Bengaluru,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,--
5,Senior Data Scientist,Bangalore/Bengaluru,Cognizer India Private Limited,Job description\n\nRoles and Responsibilities\...
6,Lead Data Scientist,Bangalore/Bengaluru,Zycus Infotech Pvt Ltd,Job description\nZycus is looking for applican...
7,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,--
8,Senior Data Scientist / Tech Lead - Data Science,"Bangalore/Bengaluru, Delhi / NCR",Confidential,Job description\nResponsibilities -\nLead a te...
9,Senior Data Scientist - KPO,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",TalentCo Search Pvt Ltd,Job description\n- Ability to understand a pro...

### Que.3- In this question you have to scrape data using the filters available on the webpage as shown below:

In [14]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.naukri.com/'
web_driver.get(url)
#the url will open 

#inspect for Skill,Designations,Companies field
job_search = web_driver.find_element_by_id('qsb-keyword-sugg')
#this will write text on search bar
job_search.send_keys('Data Scientist')

#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [16]:
#click to select location
location_filter = web_driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [17]:
#select the desired salary
salary_filter = web_driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [18]:
# extract the tag having job titles
job_title = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#to remove extra data other than output we required
job_titles = [] #empty list

for i in job_title[0:10]:
    job_titles.append(i.text)

    
#extract the tag having job location
job_loc = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

job_location = [] #empty list
#to remove extra data other than output we required
for j in job_loc[0:10]:
    job_location.append(j.text)

    
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)


#extract the tag having experience
experience_req = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

experience = [] #empty list
#to remove extra data other than output we required
for i in experience_req[0:10]:
    experience.append(i.text)


# Make data frame of datanalyst job from naukari.com 
Data_Scientist = pd.DataFrame({})
Data_Scientist['JOB TITLES']= job_titles
Data_Scientist['JOB LOCATION'] = job_location
Data_Scientist['COMPANY NAME'] = company_name 
Data_Scientist['EXPERIENCE'] = experience
Data_Scientist

,JOB TITLES,JOB LOCATION,COMPANY NAME,EXPERIENCE
0,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
1,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
2,Data Scientist,"Noida, Gurgaon/Gurugram, Delhi / NCR",Agreeya,3-6 Yrs
3,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
5,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
6,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
7,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs
8,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
9,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-4 Yrs

### Que.4- Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [60]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.glassdoor.co.in/member/home/index.htm'
web_driver.get(url)
#the url will open

In [61]:
#inspect for Job Title,Keyword,Company field
job_search = web_driver.find_element_by_id("sc.keyword")
#this will write text on search bar
job_search.send_keys('Data scientist')

In [62]:
#inspect for Job Title,Keyword,Company field
job_location = web_driver.find_element_by_id("sc.location")
#this will write text on search bar
job_location.send_keys('Noida')

In [63]:
#serch button click
search_button = web_driver.find_element_by_xpath("//span[@class='css-8zxfjs']")
search_button.click()

In [64]:
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)

In [65]:
#extract the tag having urls of all compaies
url = web_driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

job_urls = [] #empty list
#to remove extra data other than output we required
for i in url[0:10]:
    job_urls.append(i.get_attribute('href'))
job_urls

['https://www.glassdoor.co.in/partner/jobListing.htm?pos=101&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&ea=1&cs=1_afcca6e9&cb=1628787160251&jobListingId=1007200389479&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-97d4c65035600d81',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=102&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&ea=1&cs=1_885542ed&cb=1628787160252&jobListingId=1007223625926&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-8f431e7a43bcc483',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=103&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&ea=1&cs=1_2282d0d4&cb=1628787160252&jobListingId=1007219231719&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-97e5e173cec15330',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=104&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&ea=1&cs=1_c52d8b15&cb=1628787160254&jobListingId=1007181085665&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-c5ebf3c133ebe75f',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=105&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&cs=1_773159b9&cb=1628787160252&jobListingId=1007095133299&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-84db922a59ad7885',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=106&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&ea=1&cs=1_15c08c2c&cb=1628787160254&jobListingId=1007219665646&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-f48b990bb3cba778',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=107&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&cs=1_2d13f870&cb=1628787160253&jobListingId=1006461286442&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-a1ea358f023a69b7',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=108&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&ea=1&cs=1_3c5bd64d&cb=1628787160258&jobListingId=1006687249100&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-94036c835379de77',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=109&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&cs=1_1c6bf527&cb=1628787160253&jobListingId=1007230855102&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-409b6a371f63d0fe',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=110&ao=1136043&s=58&guid=0000017b3b47b272aa8c81c2f89a05b4&src=GD_JOB_AD&t=SR&vt=w&uido=8B09261858B8B80BBD360A0C01F7EB99&cs=1_eff3dac9&cb=1628787160254&jobListingId=1006624053994&jrtk=2-0-1fctkfcmjhiho801-1fctkfcnsu3pk800-a8cb856cd397a474']

In [68]:
rating = [] #Empty list
for i in job_urls:
    web_driver.get(i)
    try:
        rate = web_driver.find_element_by_xpath("//div[@class='css-16nw49e e11nt52q1']//span")
        rating.append(rate.text.replace('\n','').replace('★', ''))
    except:
        rating.append('--')
rating

['--', '--', '--', '--', '3.8', '--', '5.0', '4.1', '3.8', '--']

In [75]:
#scrap data when job was posted
Time = [] #empty list

days = web_driver.find_elements_by_xpath("//div[contains(text(),'d')]")
for i in days[0:10]:
    Time.append(i.text)

In [77]:
# Make data frame of datanalyst job from naukari.com 
Glassdoor1 = pd.DataFrame({})
Glassdoor1['COMPANY NAME']= company_name
Glassdoor1['TIME'] = Time
Glassdoor1['RATING'] = rating 
Glassdoor1

                           COMPANY NAME  TIME RATING
0  Liberin Technologies Private Limited   16d     --
1                Data Trained Education   27d     --
2              Emerging India Analytics    6d     --
3                          Pixel Vision    8d     --
4                                          8d    3.8
5                              Uncodemy  30d+     --
6                              Techlive  30d+    5.0
7                        Biz2Credit Inc  30d+    4.1
8                               CRMNEXT   27d    3.8
9          Salasar New Age Technologies  30d+     --

### Que.5- Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [124]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
web_driver.get(url)
#the url will open

In [125]:
#inspect for Job Title,Keyword,Company field
job_search = web_driver.find_element_by_id("KeywordSearch")
#this will write text on search bar
job_search.send_keys('Data scientist')

In [126]:
#inspect for Job Title,Keyword,Company field
job_location = web_driver.find_element_by_id("LocationSearch")
#this will write text on search bar
job_location.send_keys('Noida')

In [127]:
#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [133]:
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)

    
#extract the tag having salary number
num_sal = web_driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")

Salary_Number= [] #empty list
#to remove extra data other than output we required
for i in num_sal[0:10]:
    Salary_Number.append(i.text)


#extract the tag having average salary 
avg_sal = web_driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

Average_salary = [] #empty list
#to remove extra data other than output we required
for i in avg_sal[0:10]:
    Average_salary.append(i.text.replace('\n',''))

    
#extract the tag having minimum and maximum salary 
minmax_sal = web_driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

Min_Max_salary = [] #empty list
#to remove extra data other than output we required
for i in minmax_sal[0:10]:
    Min_Max_salary.append(i.text.replace('Range: ', ''))

    
# Make data frame of data science job from glassdoor
Glassdoor2 = pd.DataFrame({})
Glassdoor2['COMPANY NAME']= company_name
Glassdoor2['SALARY NUMBER'] = Salary_Number
Glassdoor2['AVERAGE SALARY'] = Average_salary 
Glassdoor2['MINIMUM MAXIMUM SALARY'] = Min_Max_salary 
Glassdoor2

,COMPANY NAME,SALARY NUMBER,AVERAGE SALARY,MINIMUM MAXIMUM SALARY
0,Tata Consultancy Services,18 salaries,"₹6,12,205 /yr",₹3L - ₹13L
1,IBM,18 salaries,"₹9,00,000 /yr",₹6L - ₹27L
2,Accenture,15 salaries,"₹11,63,336 /yr",₹6L - ₹22L
3,Delhivery,15 salaries,"₹12,18,244 /yr",₹5L - ₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238 /yr",₹4L - ₹16L
5,UnitedHealth Group,14 salaries,"₹12,80,000 /yr",₹8L - ₹15L
6,Optum,10 salaries,"₹13,20,960 /yr",₹8L - ₹20L
7,Valiance Solutions,10 salaries,"₹8,63,750 /yr",₹5L - ₹15L
8,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L - ₹15L
9,Optum Global Solutions,9 salaries,"₹13,28,697 /yr",₹4L - ₹22L

### Que.6- Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price
### 4. Discount %

In [33]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.flipkart.com/'
web_driver.get(url)
#the url will open

In [34]:
#inspect for Job product name field
job_search = web_driver.find_element_by_xpath("//input[@class='_3704LK']")
#this will write text on search bar
job_search.send_keys('sunglasses')

In [35]:
#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [36]:
#extract the tag having urls of all pages
url = web_driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

glasses_urls = [] #empty list

#to remove extra data other than output we required
for i in url[0:3]:
    glasses_urls.append(i.get_attribute('href'))
glasses_urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [37]:
Brand_name = [] #empty list
#extract the tag having brand name
for i in glasses_urls:
    web_driver.get(i)
    brand = web_driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand_name.append(i.text) #to remove extra data other than output we required
Brand_Name = Brand_name[0:100]


Description = [] #empty list
#extract the tag having description
for i in glasses_urls:
    web_driver.get(i)
    desp = web_driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desp:
        Description.append(i.text) #to remove extra data other than output we required
glass_description = Description[0:100]


price = [] #empty list
#extract the tag having price
for i in glasses_urls:
    web_driver.get(i)
    pri = web_driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri[0:100]:
        price.append(i.text) #to remove extra data other than output we required
Price = price[0:100]


discount = [] #empty list
#extract the tag having discount
for i in glasses_urls:
    web_driver.get(i)
    dis = web_driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in dis[0:100]:
        discount.append(i.text.replace('off','')) #to remove extra data other than output we required
Discount = discount[0:100]


# Make data frame of sunglasses from flipkart.com
Sunglasses = pd.DataFrame({})
Sunglasses['BRAND NAME']= Brand_Name
Sunglasses['GLASS DESCRIPTION'] = glass_description
Sunglasses['PRICE'] = Price 
Sunglasses['DISCOUNT'] = Discount 
Sunglasses

,BRAND NAME,GLASS DESCRIPTION,PRICE,DISCOUNT
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73%
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (53)",₹664,66%
2,Elligator,UV Protection Round Sunglasses (54),₹295,88%
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35%
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15%
...,...,...,...,...
95,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68%
96,NuVew,UV Protection Sports Sunglasses (73),₹348,72%
97,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",₹246,87%
98,Wrogn,Mirrored Wayfarer Sunglasses (52),₹695,73%
99,ROYAL SON,Polarized Retro Square Sunglasses (58),₹474,55%

### Que.7- Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

#### 1. Rating 
#### 2. Review_summary 
#### 3. Full review
### You have to scrape this data for first 100 reviews

In [61]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = ' https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
web_driver.get(url)
#the url will open

In [62]:
#all rewiev button click
all_review = web_driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_review.click()

In [63]:
#extract the tag having urls of all pages
url = web_driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

rev_urls = [] #empty list

#to remove extra data other than output we required
for i in url[0:10]:
    rev_urls.append(i.get_attribute('href'))

In [ ]:
Rating = [] #empty list
#extract the tag having rating
for i in rev_urls:
    web_driver.get(i)
    rate = web_driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rate:
        Rating.append(i.text) #to remove extra data other than output we required
        
        
Review_summary = [] #empty list
#extract the tag having review summary
for i in glasses_urls:
    web_driver.get(i)
    summary = web_driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary:
        Review_summary.append(i.text) #to remove extra data other than output we required

        
Full_review = [] #empty list
#extract the tag having Full_review
for i in glasses_urls:
    web_driver.get(i)
    full = web_driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full:
        Full_review.append(i.text) #to remove extra data other than output we required


# Make data frame of review of i-phone from flipkart.com
REVIEWS = pd.DataFrame({})
REVIEWS['RATING']= Rating
REVIEWS['REVIEW SUMMARY'] = Review_summary
REVIEWS['FULL REVIEW'] = Full_review 
REVIEWS

In [59]:
Review_summary = [] #empty list
#extract the tag having review summary
for i in glasses_urls:
    web_driver.get(i)
    summary = web_driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary:
        Review_summary.append(i.text) #to remove extra data other than output we required
Review_summary

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Best in the market!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Highly recommended',
 'Worth every penny',
 'Terrific',
 'Nice product',
 'Wonderful',
 'Classy product',
 'Brilliant',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Great product',
 'Simply awesome',
 'Mind-blowing purchase',
 'Terrific purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Worth every penny',
 'Great product',
 'Very Good',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Terrific',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Super!',
 'Best in the market!',
 'Classy product',
 'Highly recommended',
 'Mind-blowing purchase',
 'Must buy!',
 'Excellent',
 'Excellent',
 'Terrific',
 'Pretty good',
 'Nice product',
 'Mind-blowing purchase',
 'Does the job',
 'Wonderful',
 'Worth every penny',
 'Worth every penny',
 'Fabulous!',
 'Classy product',
 'Awesome',
 'Wonderful',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Super!',
 'Fabulous!',
 'Just wow!',
 'Mind-blowing purchase',
 'Excellent']

In [60]:
len(Review_summary)

100