# WEB SCRAPING ASSIGNMENT 2

In [18]:
#install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\chaitali nakade\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\chaitali nakade\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [19]:
#import all neccessory libreries

import selenium
import pandas as pd
from selenium import webdriver

libreries imported

In [4]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

### Que.1-  Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
#Get url in web driver first
url = 'https://www.naukri.com/'
web_driver.get(url)
#the url will open 

#inspect for Skill,Designations,Companies field
job_search = web_driver.find_element_by_id('qsb-keyword-sugg')
#this will write text on search bar
job_search.send_keys('Data Analyst')

#find element for job location
search_location = web_driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys('Bangalore')

#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [5]:
#extract the tag having job titles
job_title = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#to remove extra data other than output we required
job_titles = [] #empty list

for i in job_title[0:10]:
    job_titles.append(i.text)

    
#extract the tag having job location
job_loc = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

job_location = [] #empty list
#to remove extra data other than output we required
for j in job_loc[0:10]:
    job_location.append(j.text)

    
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)


#extract the tag having experience
experience_req = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

experience = [] #empty list
#to remove extra data other than output we required
for i in experience_req[0:10]:
    experience.append(i.text)

# Make data frame of datanalyst job from naukari.com 
Data_Analyst = pd.DataFrame({})
Data_Analyst['JOB TITLES']= job_titles
Data_Analyst['JOB LOCATION'] = job_location
Data_Analyst['COMPANY NAME'] = company_name 
Data_Analyst['EXPERIENCE'] = experience
Data_Analyst

,JOB TITLES,JOB LOCATION,COMPANY NAME,EXPERIENCE
0,Senior Data Analyst - Einstein Analytics,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Enquero,3-5 Yrs
1,Data Analyst - 0-2 years (6 month contract),"New Delhi, Gurgaon/Gurugram, Chennai, Bangalor...",NIUM INDIA PRIVATE LIMITED,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs
3,Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,4-8 Yrs
4,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Nx-DT,10-16 Yrs
5,SQL Data Analyst,Bangalore/Bengaluru,NetApp,3-7 Yrs
6,Senior Business Analyst- Data Science,Bangalore/Bengaluru(Whitefield),Evalueserve.com Pvt. Ltd,2-7 Yrs
7,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,3-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Telstra India Pvt Ltd,7-8 Yrs
9,Data Analyst (SQL+Predictive Analytics+ Python),Bangalore/Bengaluru,AVE-Promagne,1-3 Yrs

### Que.2- Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

In [7]:
#Get url in web driver first
url = 'https://www.naukri.com/'
web_driver.get(url)
#the url will open 

#inspect for Skill,Designations,Companies field
job_search = web_driver.find_element_by_id('qsb-keyword-sugg')
#this will write text on search bar
job_search.send_keys('Data Scientist')

#find element for job location
search_location = web_driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys('Bangalore')

#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [8]:
#extract the tag having job titles
job_title = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#to remove extra data other than output we required
job_titles = [] #empty list

for i in job_title[0:10]:
    job_titles.append(i.text)

    
#extract the tag having job location
job_loc = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

job_location = [] #empty list
#to remove extra data other than output we required
for i in job_loc[0:10]:
    job_location.append(i.text)
    
    
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)

In [9]:
#extract the tag having urls of all compaies
url = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [10]:
job_urls = [] #empty list
#to remove extra data other than output we required
for i in url[0:10]:
    job_urls.append(i.get_attribute('href'))

In [11]:
job_description = [] #Empty list
for i in job_urls:
    web_driver.get(i)
    try:
        job = web_driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job.text)
    except:
        job_description.append('--')

In [12]:
print(len(job_titles),len(job_location),len(company_name),len(job_description))

10 10 10 10

In [13]:
# Make data frame of data science job from naukari.com 
Data_Scientist = pd.DataFrame({})
Data_Scientist['JOB TITLES']= job_titles
Data_Scientist['JOB LOCATION'] = job_location
Data_Scientist['COMPANY NAME'] = company_name 
Data_Scientist['JOB DESCRIPTION'] = job_description
Data_Scientist

,JOB TITLES,JOB LOCATION,COMPANY NAME,JOB DESCRIPTION
0,Data Scientist- Senior Business Analyst/Lead A...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,Job description\nJob Description\nUnderstand a...
1,Lead Data Scientist - Retail Industry,Bangalore/Bengaluru,IBM India Pvt. Limited,--
2,Senior/ Lead Data Scientist,Bangalore/Bengaluru,Superior Group,Job description\nProvide advanced analytical c...
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,--
4,Senior Data Scientist,Bangalore/Bengaluru,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,--
5,Senior Data Scientist,Bangalore/Bengaluru,Cognizer India Private Limited,Job description\n\nRoles and Responsibilities\...
6,Lead Data Scientist,Bangalore/Bengaluru,Zycus Infotech Pvt Ltd,Job description\nZycus is looking for applican...
7,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,--
8,Senior Data Scientist / Tech Lead - Data Science,"Bangalore/Bengaluru, Delhi / NCR",Confidential,Job description\nResponsibilities -\nLead a te...
9,Senior Data Scientist - KPO,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",TalentCo Search Pvt Ltd,Job description\n- Ability to understand a pro...

### Que.3- In this question you have to scrape data using the filters available on the webpage as shown below:

In [14]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.naukri.com/'
web_driver.get(url)
#the url will open 

#inspect for Skill,Designations,Companies field
job_search = web_driver.find_element_by_id('qsb-keyword-sugg')
#this will write text on search bar
job_search.send_keys('Data Scientist')

#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [16]:
#click to select location
location_filter = web_driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [17]:
#select the desired salary
salary_filter = web_driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [18]:
# extract the tag having job titles
job_title = web_driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#to remove extra data other than output we required
job_titles = [] #empty list

for i in job_title[0:10]:
    job_titles.append(i.text)

    
#extract the tag having job location
job_loc = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

job_location = [] #empty list
#to remove extra data other than output we required
for j in job_loc[0:10]:
    job_location.append(j.text)

    
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)


#extract the tag having experience
experience_req = web_driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

experience = [] #empty list
#to remove extra data other than output we required
for i in experience_req[0:10]:
    experience.append(i.text)


# Make data frame of datanalyst job from naukari.com 
Data_Scientist = pd.DataFrame({})
Data_Scientist['JOB TITLES']= job_titles
Data_Scientist['JOB LOCATION'] = job_location
Data_Scientist['COMPANY NAME'] = company_name 
Data_Scientist['EXPERIENCE'] = experience
Data_Scientist

,JOB TITLES,JOB LOCATION,COMPANY NAME,EXPERIENCE
0,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
1,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
2,Data Scientist,"Noida, Gurgaon/Gurugram, Delhi / NCR",Agreeya,3-6 Yrs
3,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
5,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
6,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
7,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs
8,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
9,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-4 Yrs

### Que.4- Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [198]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.glassdoor.co.in/member/home/index.htm'
web_driver.get(url)
#the url will open

In [200]:
#inspect for Job Title,Keyword,Company field
job_search = web_driver.find_element_by_id("sc.keyword")
#this will write text on search bar
job_search.send_keys('Data scientist')

In [201]:
#inspect for Job Title,Keyword,Company field
job_location = web_driver.find_element_by_id("sc.location")
#this will write text on search bar
job_location.send_keys('Noida')

In [202]:
#serch button click
search_button = web_driver.find_element_by_xpath("//span[@class='css-8zxfjs']")
search_button.click()

In [203]:
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)

In [204]:
#extract the tag having urls of all compaies
url = web_driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

job_urls = [] #empty list
#to remove extra data other than output we required
for i in url[0:10]:
    job_urls.append(i.get_attribute('href'))

In [205]:
rating = [] #Empty list
for i in job_urls:
    web_driver.get(i)
    try:
        rate = web_driver.find_element_by_xpath("//div[@class='css-16nw49e e11nt52q1']//span")
        rating.append(rate.text.replace('\n','').replace('★', ''))
    except:
        rating.append('--')
rating

['--', '--', '--', '3.8', '--', '3.8', '--', '4.1', '4.1', '3.4']

In [211]:
days = web_driver.find_elements_by_xpath("//div[contains(text(),'d')]")
days

[<selenium.webdriver.remote.webelement.WebElement (session="8a2bfac8d7781ef3a05efea1273c0fcc", element="0d4ac086-c5bc-4208-9c85-8a9b54d694cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a2bfac8d7781ef3a05efea1273c0fcc", element="b42974bb-ed70-4609-824f-1034f2745222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a2bfac8d7781ef3a05efea1273c0fcc", element="8138f0c5-62d2-499f-935b-06e5d1d73b93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8a2bfac8d7781ef3a05efea1273c0fcc", element="e792a613-2bf2-462f-9e6c-8102b32fc929")>]

In [212]:
#scrap data when job was posted
Time = [] #empty list

days = web_driver.find_elements_by_xpath("//div[contains(text(),'d')]")
for i in days[0:10]:
    Time.append(i.text)
Time

['17d', '7d', '9d', '28d', '9d', '30d+', '2d', '30d+', '4d', '9d']

In [213]:
# Make data frame of datanalyst job from naukari.com 
Glassdoor1 = pd.DataFrame({})
Glassdoor1['COMPANY NAME']= company_name
Glassdoor1['TIME'] = Time[0:10]
Glassdoor1['RATING'] = rating 
Glassdoor1

                           COMPANY NAME  TIME RATING
0  Liberin Technologies Private Limited   17d     --
1                Data Trained Education    7d     --
2                          Pixel Vision    9d     --
3                               CRMNEXT   28d    3.8
4              Emerging India Analytics    9d     --
5                                 Crowe  30d+    3.8
6          Salasar New Age Technologies    2d     --
7                        Biz2Credit Inc  30d+    4.1
8                              Ericsson    4d    4.1
9                       Newgen Software    9d    3.4

### Que.5- Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [124]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
web_driver.get(url)
#the url will open

In [125]:
#inspect for Job Title,Keyword,Company field
job_search = web_driver.find_element_by_id("KeywordSearch")
#this will write text on search bar
job_search.send_keys('Data scientist')

In [126]:
#inspect for Job Title,Keyword,Company field
job_location = web_driver.find_element_by_id("LocationSearch")
#this will write text on search bar
job_location.send_keys('Noida')

In [127]:
#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [133]:
#extract the tag having company name
company = web_driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

company_name = [] #empty list
#to remove extra data other than output we required
for i in company[0:10]:
    company_name.append(i.text)

    
#extract the tag having salary number
num_sal = web_driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")

Salary_Number= [] #empty list
#to remove extra data other than output we required
for i in num_sal[0:10]:
    Salary_Number.append(i.text)


#extract the tag having average salary 
avg_sal = web_driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

Average_salary = [] #empty list
#to remove extra data other than output we required
for i in avg_sal[0:10]:
    Average_salary.append(i.text.replace('\n',''))

    
#extract the tag having minimum and maximum salary 
minmax_sal = web_driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

Min_Max_salary = [] #empty list
#to remove extra data other than output we required
for i in minmax_sal[0:10]:
    Min_Max_salary.append(i.text.replace('Range: ', ''))

    
# Make data frame of data science job from glassdoor
Glassdoor2 = pd.DataFrame({})
Glassdoor2['COMPANY NAME']= company_name
Glassdoor2['SALARY NUMBER'] = Salary_Number
Glassdoor2['AVERAGE SALARY'] = Average_salary 
Glassdoor2['MINIMUM MAXIMUM SALARY'] = Min_Max_salary 
Glassdoor2

,COMPANY NAME,SALARY NUMBER,AVERAGE SALARY,MINIMUM MAXIMUM SALARY
0,Tata Consultancy Services,18 salaries,"₹6,12,205 /yr",₹3L - ₹13L
1,IBM,18 salaries,"₹9,00,000 /yr",₹6L - ₹27L
2,Accenture,15 salaries,"₹11,63,336 /yr",₹6L - ₹22L
3,Delhivery,15 salaries,"₹12,18,244 /yr",₹5L - ₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238 /yr",₹4L - ₹16L
5,UnitedHealth Group,14 salaries,"₹12,80,000 /yr",₹8L - ₹15L
6,Optum,10 salaries,"₹13,20,960 /yr",₹8L - ₹20L
7,Valiance Solutions,10 salaries,"₹8,63,750 /yr",₹5L - ₹15L
8,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L - ₹15L
9,Optum Global Solutions,9 salaries,"₹13,28,697 /yr",₹4L - ₹22L

### Que.6- Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price
### 4. Discount %

In [33]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.flipkart.com/'
web_driver.get(url)
#the url will open

In [34]:
#do not login button click
notlogin_button = web_driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
notlogin_button.click()

#inspect for product name field
product_search = web_driver.find_element_by_xpath("//input[@class='_3704LK']")
#this will write text on search bar
product_search.send_keys('sunglasses')

In [35]:
#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [36]:
#extract the tag having urls of all pages
url = web_driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

glasses_urls = [] #empty list

#to remove extra data other than output we required
for i in url[0:3]:
    glasses_urls.append(i.get_attribute('href'))
glasses_urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [37]:
Brand_name = [] #empty list
#extract the tag having brand name
for i in glasses_urls:
    web_driver.get(i)
    brand = web_driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand_name.append(i.text) #to remove extra data other than output we required
Brand_Name = Brand_name[0:100]


Description = [] #empty list
#extract the tag having description
for i in glasses_urls:
    web_driver.get(i)
    desp = web_driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desp:
        Description.append(i.text) #to remove extra data other than output we required
glass_description = Description[0:100]


price = [] #empty list
#extract the tag having price
for i in glasses_urls:
    web_driver.get(i)
    pri = web_driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri[0:100]:
        price.append(i.text) #to remove extra data other than output we required
Price = price[0:100]


discount = [] #empty list
#extract the tag having discount
for i in glasses_urls:
    web_driver.get(i)
    dis = web_driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in dis[0:100]:
        discount.append(i.text.replace('off','')) #to remove extra data other than output we required
Discount = discount[0:100]


# Make data frame of sunglasses from flipkart.com
Sunglasses = pd.DataFrame({})
Sunglasses['BRAND NAME']= Brand_Name
Sunglasses['GLASS DESCRIPTION'] = glass_description
Sunglasses['PRICE'] = Price 
Sunglasses['DISCOUNT'] = Discount 
Sunglasses

,BRAND NAME,GLASS DESCRIPTION,PRICE,DISCOUNT
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73%
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (53)",₹664,66%
2,Elligator,UV Protection Round Sunglasses (54),₹295,88%
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35%
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15%
...,...,...,...,...
95,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68%
96,NuVew,UV Protection Sports Sunglasses (73),₹348,72%
97,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",₹246,87%
98,Wrogn,Mirrored Wayfarer Sunglasses (52),₹695,73%
99,ROYAL SON,Polarized Retro Square Sunglasses (58),₹474,55%

### Que.7- Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

#### 1. Rating 
#### 2. Review_summary 
#### 3. Full review
### You have to scrape this data for first 100 reviews

In [61]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = ' https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
web_driver.get(url)
#the url will open

In [62]:
#all rewiev button click
all_review = web_driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_review.click()

In [70]:
#extract the tag having urls of all pages
url = web_driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

rev_urls = [] #empty list

#to remove extra data other than output we required
for i in url[0:11]:
    rev_urls.append(i.get_attribute('href'))

In [71]:
Rating = [] #empty list
#extract the tag having rating
for i in rev_urls:
    web_driver.get(i)
    rate = web_driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rate:
        Rating.append(i.text) #to remove extra data other than output we required
        
Review_summary = [] #empty list
#extract the tag having review summary
for i in glasses_urls:
    web_driver.get(i)
    summary = web_driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary:
        Review_summary.append(i.text) #to remove extra data other than output we required

Full_review = [] #empty list
#extract the tag having Full_review
for i in glasses_urls:
    web_driver.get(i)
    full = web_driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full:
        Full_review.append(i.text) #to remove extra data other than output we required


# Make data frame of review of i-phone from flipkart.com
REVIEWS = pd.DataFrame({})
REVIEWS['RATING']= Rating[0:100]
REVIEWS['REVIEW SUMMARY'] = Review_summary[0:100]
REVIEWS['FULL REVIEW'] = Full_review[0:100] 
REVIEWS

,RATING,REVIEW SUMMARY,FULL REVIEW
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,4,Simply awesome,Really satisfied with the Product I received.....
2,4,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,3,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Excellent,A perfect phone and a good battery super camer...

### Que.8- Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :
### 1. Brand
### 2. Product Description
### 3. Price
### 4. discount %

In [123]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.flipkart.com/'
web_driver.get(url)
#the url will open

In [124]:
#do not login button click
notlogin_button = web_driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
notlogin_button.click()

#inspect for product name field
job_search = web_driver.find_element_by_xpath("//input[@class='_3704LK']")
#this will write text on search bar
job_search.send_keys('sneakers')

In [125]:
#serch button click
search_button = web_driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [87]:
#extract the tag having urls of all pages
url = web_driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

sneakers_urls = [] #empty list

#to remove extra data other than output we required
for i in url[0:5]:
    sneakers_urls.append(i.get_attribute('href'))
sneakers_urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5']

In [88]:
Brand_name = [] #empty list
#extract the tag having brand name
for i in sneakers_urls:
    web_driver.get(i)
    brand = web_driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand_name.append(i.text) #to remove extra data other than output we required
Brand_name


Description = [] #empty list
#extract the tag having description
for i in sneakers_urls:
    web_driver.get(i)
    desp = web_driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desp:
        Description.append(i.text) #to remove extra data other than output we required



price = [] #empty list
#extract the tag having price
for i in sneakers_urls:
    web_driver.get(i)
    pri = web_driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri[0:100]:
        price.append(i.text) #to remove extra data other than output we required


discount = [] #empty list
#extract the tag having discount
for i in sneakers_urls:
    web_driver.get(i)
    dis = web_driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in dis:
        discount.append(i.text.replace('off','')) #to remove extra data other than output we required



# Make data frame of sneakers from flipkart.com
sneakers = pd.DataFrame({})
sneakers['BRAND NAME']= Brand_name[0:100]
sneakers['sneakers DESCRIPTION'] = Description[0:100]
sneakers['PRICE'] = price[0:100] 
sneakers['DISCOUNT'] = discount[0:100] 
sneakers

,BRAND NAME,sneakers DESCRIPTION,PRICE,DISCOUNT
0,DUCATI,Sneakers For Men,"₹1,219",67%
1,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹389,80%
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,62%
3,PEHANOSA,Sneakers For Men,₹399,60%
4,Numenzo,Sneakers For Men,₹378,62%
...,...,...,...,...
95,luxury fashion,Casual Sneakers Shoes For Men Sneakers For Men,₹399,86%
96,BRUTON,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹323,75%
97,Edoeviv,Stylish lightweight shoe Sneakers For Men,₹449,55%
98,PUMA,Sneakers For Men,"₹3,994",50%
99,India hub,Sneakers For Men,₹448,80%

### Que.9- : Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price

In [156]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.myntra.com/shoes'
web_driver.get(url)
#the url will open

In [157]:
#click to select color
color_filter = web_driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [158]:
#click to select price
price_filter = web_driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [159]:
#extract the tag having urls of all pages
url = web_driver.find_elements_by_xpath("//ul[@class='pagination-container']//a")

shoes_urls = [] #empty list

#to remove extra data other than output we required
for i in url[0:2]:
    shoes_urls.append(i.get_attribute('href'))
shoes_urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5349.0_10499.0_5349.0%20TO%2010499.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5349.0_10499.0_5349.0%20TO%2010499.0&p=2']

In [160]:
Brand_name = [] #empty list
#extract the tag having brand name
for i in shoes_urls:
    web_driver.get(i)
    brand = web_driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        Brand_name.append(i.text) #to remove extra data other than output we required


Description = [] #empty list
#extract the tag having description
for i in shoes_urls:
    web_driver.get(i)
    desp = web_driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in desp:
        Description.append(i.text) #to remove extra data other than output we required
        

price = [] #empty list
#extract the tag having price
for i in shoes_urls:
    web_driver.get(i)
    pri = web_driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in pri[0:100]:
        price.append(i.text) #to remove extra data other than output we required
        

# Make data frame of shoes from myntra.com
shoes = pd.DataFrame({})
shoes['BRAND NAME']= Brand_name
shoes['SHOES DESCRIPTION'] = Description
shoes['PRICE'] = price 
shoes

,BRAND NAME,SHOES DESCRIPTION,PRICE
0,Puma,Men Cell Fraction Fade Running,Rs. 5995
1,Nike,Men Renew Retaliation TR 3,Rs. 6999
2,Nike,Men BlazerLow '77 Sneakers,Rs. 7195
3,UNDER ARMOUR,Unisex Project Rock Recruit,Rs. 9999
4,Nike,Men Crater Remixa Sneakers,Rs. 5495
...,...,...,...
95,Geox,Men Leather Driving Shoes,Rs. 6293Rs. 8990(30% OFF)
96,Xtep,Men Running Shoes,Rs. 5599Rs. 7999(30% OFF)
97,Heel & Buckle London,Men Leather Loafers,Rs. 9999
98,Heel & Buckle London,Men Velvet Loafers,Rs. 5399Rs. 5999(10% OFF)
99,Xtep,Men Running Shoes,Rs. 6293Rs. 8990(30% OFF)

### Que.10- Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [214]:
#connect to the web driver
web_driver = webdriver.Edge("msedgedriver.exe")

#Get url in web driver first
url = 'https://www.amazon.in/'
web_driver.get(url)
#the url will open

In [215]:
#inspect for product name field
product_search = web_driver.find_element_by_id("twotabsearchtextbox")
#this will write text on search bar
product_search.send_keys('Laptop')

In [216]:
#serch button click
search_button = web_driver.find_element_by_id("nav-search-submit-button")
search_button.click()

In [220]:
#click to select cpu type i7
i7_filter = web_driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[6]/li[26]/span/a/div/label/i')
i7_filter.click()

In [221]:
#click to select cpu type i9
i9_filter = web_driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[6]/li[28]/span/a/div/label/i')
i9_filter.click()

In [234]:
#extract the tag having brand name
brand = web_driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

brand_name = [] #empty list
#to remove extra data other than output we required
for i in brand[0:10]:
    brand_name.append(i.text)
brand_name

['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14" (35.56cm) FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-10870H 10th Gen, NVIDIA GeForce GTX 1650 4GB Graphics, Gaming Laptop(8GB/512GB SSDWindows 10/Gray/2.3 Kg), FX566LH-HN255T',
 'HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN']

In [235]:
#extract the tag having urls of all compaies
url = web_driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

rating_urls = [] #empty list
#to remove extra data other than output we required
for i in url[0:10]:
    rating_urls.append(i.get_attribute('href'))

In [225]:
rating = [] #empty list
#extract the tag having rating
for i in rating_urls:
    web_driver.get(i)
    rate = web_driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
    for i in rate[0:10]:
        rating.append(i.text) #to remove extra data other than output we required
rating

['4.1 out of 5',
 '4.2 out of 5',
 '4.4 out of 5',
 '4.3 out of 5',
 '3.6 out of 5',
 '4.2 out of 5',
 '4.1 out of 5',
 '3.8 out of 5',
 '4.6 out of 5',
 '4 out of 5']

In [233]:
price = [] #empty list
#extract the tag having rating
for i in rating_urls:
    web_driver.get(i)
    pri = web_driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
    for i in pri[0:10]:
        price.append(i.text) #to remove extra data other than output we required
price

['₹1,09,990.00',
 '₹1,03,100.00',
 '₹84,990.00',
 '₹81,990.00',
 '₹71,990.00',
 '₹1,09,990.00',
 '₹34,990.00',
 '₹74,990.00',
 '₹90,950.00']

In [236]:
# Make data frame of shoes from myntra.com
LAPTOP = pd.DataFrame({})
LAPTOP['BRAND NAME']= brand_name[0:9]
LAPTOP['RATING'] = rating[0:9]
LAPTOP['PRICE'] = price[0:9]
LAPTOP

,BRAND NAME,RATING,PRICE
0,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5,"₹1,09,990.00"
1,Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...,4.2 out of 5,"₹1,03,100.00"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,"₹84,990.00"
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.3 out of 5,"₹81,990.00"
4,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",3.6 out of 5,"₹71,990.00"
5,"ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...",4.2 out of 5,"₹1,09,990.00"
6,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5,"₹34,990.00"
7,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.8 out of 5,"₹74,990.00"
8,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...",4.6 out of 5,"₹90,950.00"